<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Module" />

    <f:section name="Content">
        <f:asset.module identifier="bootstrap"/>
        <f:asset.module identifier="@typo3/backend/tabs.js"/>
        <f:asset.script identifier="clipboard.min.js" src="EXT:pxa_social_feed/Resources/Public/JavaScript/Backend/clipboard.min.js" defer="true" />
        <f:asset.css href="EXT:pxa_social_feed/Resources/Public/Css/Backend/SocialFeedModule.css" identifier="SocialFeedModule" />

        <f:flashMessages queueIdentifier="pxa-social-feed" />

        <div id="tokens-confs" role="tabpanel">
            <ul id="token-configuration-tabs" class="nav nav-tabs form-section-tabs t3js-tabs" role="tablist" data-store-last-tab="1">
                <li class="nav-item t3js-tabmenu-item" role="presentation">
                    <button id="configurations-tab" type="button" class="nav-link active" data-bs-toggle="tab" data-bs-target="#configurations" aria-controls="configurations" aria-selected="true" role="tab">
                        <f:translate key="module.configurations"/>
                    </button>
                </li>
                <li class="nav-item t3js-tabmenu-item" role="presentation">
                    <button id="tokens-tab" type="button" class="nav-link{f:if(condition: isTokensValid, then:'', else: ' has-validation-error ')}" data-bs-toggle="tab" data-bs-target="#tokens" aria-controls="tokens" aria-selected="false" role="tab">
                        <f:translate key="module.tokens"/>
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <div id="configurations" class="tab-pane active" role="tabpanel" aria-labelledby="configurations-tab">
                    <div class="form-section">
                        <f:render partial="Backend/ListConfigurations" section="list" arguments="{configurations: configurations, isAdmin: isAdmin}"/>
                        <f:link.action class="btn btn-default" action="editConfiguration">
                            <f:translate key="module.add_new"/>
                        </f:link.action>
                    </div>
                </div>

                <div id="tokens" class="tab-pane" role="tabpanel" aria-labelledby="tokens-tab">
                    <div class="form-section">
                        <f:render partial="Backend/ListTokens" section="list" arguments="{tokens: tokens}"/>
                        <f:link.action class="btn btn-default" action="editToken">
                            <f:translate key="module.add_new"/>
                        </f:link.action>
                    </div>
                </div>
            </div>
        </div>
    </f:section>
</div>
